.card_main {
    flex: 1 !important;
    border: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 10px;
    background-color: rgb(134, 134, 134);
}
.cadastro_container {
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center !important;
}
.item {
    flex: 1 !important;
}
@media only screen and (max-width: 600px) {
    .cadastro_container {
        flex-direction: column !important;
    }
}